<body class="bodyTable">
    <h3>Work Experience</h3>
        <ul *ngFor="let work of workExperience">
            <li>
                <tr>
                    <td><b>{{ work.empresa }}</b></td>
                </tr>
                <tr>
                    <td>Role: {{ work.puesto }}</td>
                </tr>
                <tr>
                    <td>Date: {{ work.fecha }}</td>
                </tr>

                <ul *ngFor="let desc of work.desc">
                    <li>
                        <tr>{{ desc.descripcion }}</tr>
                    </li>
                </ul>
                
            </li>
        </ul>
    <h3> Education </h3>
        <ul *ngFor="let education of educationList">
            <li>
                <tr>
                    <td><b>{{ education.escuela }}</b></td>
                </tr>
                <tr>
                    <td>Grade: {{ education.grado }}</td>
                </tr>
                <tr>
                    <td>Date: {{ education.fechas }}</td>
                </tr>
                
            </li>
        </ul>
    </body>